.header {
    display: flex;
    padding: 10px;
    background-color: #4bea3c;
    color: snow;
    align-items: center;
}

.header > img {
    height: 50px;
    padding-right: 10px;
    border-radius: 100%;
}

header > p {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}